.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background: #000;
}

.login > img {
  width: 100%;
}

.login > a {
  padding: 20px;
  background: #1db954;
  color: #fff;
  border-radius: 99px;
  font-weight: 800;
}
